/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background2.png);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  position: relative;
}

.logo {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
}

.content h1{
  font-size: 64px;
  font-weight: 600;
}

.content p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}
.content h1 span {
  color: #ff3753;
}

.content button {
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  padding: 12px 25px;
  margin-top: 20px;
  color: #fff;
  /* to center the child (img) horizontally */
  display: flex;
  align-items: center;
}

.content button img {
  width: 15px;
  margin-left: 10px;
}