/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Fonts */
  --main-font: 'lato', sans-serif;
  /* Colors */
  --main-title-color: #ff3753;
  /* --gradient: linear-gradient(90deg, #4a1196 0%, #542aba 100%); */
  --main-bg-gradient: linear-gradient(to right, #5e3294,#4a1196, #4c23ab, #391e75);
  --main-bg-color: #5e3294;
  --second-bg-color: #4a1196;
  --third-bg-color: #4c23ab;
  --fourth-bg-color: #391e75;
  --main-text-color: #ffffff;
  --main-border-color: #e39263;
}

@font-face {
  font-family: 'title-font';
  src: url('../font/SP.otf');
}

body {
  font-family: var(--main-font);
  background: var(--main-bg-gradient);
  color: var(--main-text-color);
}

/* === Header === */

#header {
  width: 100%;
  height: 100vh;
  background: url('../images/background3.png');
  background-size: cover;
  background-position: center;
}

/* .container {
  padding: 10px 1%;
} */

.header-text {
  margin-top: 20%;
  font-size: 30px;
  padding: 0 5%; /* 0 Up + Down / 5% Left + Right */
}

.header-text h1 {
  font-size: 60px;
  margin-top: 2px;
}

.header-text h1 span {
  color: var(--main-title-color);
}

/* === Navigation === */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
}

.logo {
  width: 140px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

nav ul li {
  list-style: none;
  display: inline-block; /* Aligns it horizontally */
  margin: 10px 20px;
  transition: 0.3s;
}

nav ul li:hover {
  transform: scale(1.3);
}

nav ul li a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 22px;
  font-family: title-font;
  position: relative;
}



/* Animated Underline */
nav ul li a::after {
  content: '';
  width: 0; /* Width of the line to make it invisible */
  height: 3px;
  background: var(--main-title-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* === About === */

#about {
  padding: 80px 5%; /* 80px Up + Down / 5% Left + Right */
  color: var(--main-text-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;  /* 35% of the row */
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  border: solid 1px white;
}

.about-col-2 {
  flex-basis: 60%; /* 60% of the row means 5% spacing in between */
  padding-left: 20px;
}

.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--main-text-color);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--main-title-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 14px;
}

.tab-contents ul li span {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: 16px;
}


